@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;  
}
body {
    font-family: "open Sans", sans-serif;
    background-color: rgb(161, 221, 161);
}
.text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1{
    margin: 70px;
    padding-left: 30px;
    padding-right: 100px;

}
p{
    margin: 70px;
    padding-left: 100px;
}
img{
    height: 300px;
    width: 80%;
    margin: 80px;
    padding-left: 70px;
}