@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: orange;
}
.container{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#content{
 padding: 50px;
margin: 20px;
}
img{

    width:350px;
    height: auto;
}
.first{
 text-align: center;
}
.second{
text-align: center;
}
.third{
text-align: center;
}